<div class="mt-4">
  <h3>KHÓA HỌC CỦA TÔI</h3>
  <div class="list d-flex">
    <div name="recycle">
      {{#if deletedCount}}
      <a href="/me/trash/courses" >
        <button type="button" class="btn btn-secondary">
          <i class="fas fa-trash-alt"></i> Thùng rác ({{deletedCount}})
        </button>
      </a>
      {{/if}}
    </div>
    <div name="createCourse" class="ms-auto">
      <a href="/courses/create" >
        <button type="button" class="btn btn-success">Đăng khóa học mới</button>
      </a>
    </div>
  </div>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">TÊN KHÓA HỌC</th>
          <th scope="col">CẤP ĐỘ</th>
          <th scope="col" colspan="2">NGÀY TẠO</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <th scope="row">{{sum 1 @index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this.slug}}/edit" class="btn btn-outline-primary">Chỉnh sửa</a>
            <a href="" name="delete-confirm" class="btn btn-outline-danger" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#deleteCourseModel">Xóa</a>
            {{!-- confirm delete --}}
            <!-- Modal -->
            <div class="modal fade" id="deleteCourseModel" tabindex="-1" aria-labelledby="deleteCourseModelLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteCourseModelLabel">Bạn có chắc chắn muốn xóa khóa học:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <b>{{this.name}}</b>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Đồng ý</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        {{else}}

        <tr>
          <td class="text-center" colspan="5">
            Bạn chưa đăng khóa học nào. 
            <a href="/courses/create"> click</a>
            để đăng khóa học!
          </td>
        </tr>

        {{/each}}
      </tbody>
    </table>
</div>

{{!-- DELETE HIDEN FORM --}}
<form method="POST" name="deleteCourseForm"></form>


<script>
  var CourseId;
  var deleteForm = document.forms['deleteCourseForm'];
  var DeleteCourseModel = document.getElementById('deleteCourseModel');

  if (DeleteCourseModel) {
    DeleteCourseModel.addEventListener('show.bs.modal', event => {
      var button = event.relatedTarget;
      CourseId = button.getAttribute('data-id');
      console.log(CourseId);
    });

    var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
    confirmDeleteBtn.onclick = function () {
      // Set the form action to include the CourseId
      deleteForm.action = "/courses/" + CourseId + '?_method=DELETE';
      // Submit the form to delete the course
      deleteForm.submit();
    };
  }
</script>

