<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
  <h3>KHÓA HỌC CỦA TÔI</h3>
    <div class="mt-2 d-flex">
      <div name="recycle">
        {{#if deletedCount}}
        <a href="/me/trash/courses" >
          <button type="button" class="btn btn-secondary">
            <i class="fas fa-trash-alt"></i><span class="oi oi-trash"></span> Thùng rác ({{deletedCount}})
          </button>
        </a>
        {{/if}}
      </div>
      <div name="createCourse" class="ms-auto">
        <a href="/courses/create" >
          <button type="button" class="btn btn-success">Đăng khóa học</button>
        </a>
      </div>
    </div>
    <div class="mt-2 d-flex align-items-center checkbox-select">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>
      <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
        <option value="">--Chọn hành động--</option>
        <option value="delete">Xóa</option>
      </select>
      <button class="btn btn-primary btn-sm CheckAllSubmitBtn " disabled>Thực hiện</button>
    </div>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col" colspan="2"></th>
          <th scope="col">
            TÊN KHÓA HỌC
            {{{sortable 'name' _sort}}}
          </th>
          <th scope="col">
            CẤP ĐỘ
            {{{sortable 'level' _sort}}}
          </th>
          <th scope="col" colspan="2">
            NGÀY TẠO
            {{{sortable 'createdAt' _sort}}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input checkbox-one" type="checkbox" name="courseIds[]" value="{{this._id}}">
            </div>
          </td>
          <th scope="row">{{sum 1 @index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this.slug}}/edit" class="btn btn-outline-primary"><span class="oi oi-wrench"></span></a>
            <a href="" name="delete-confirm" class="btn btn-outline-danger" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#deleteCourseModel"><span class="oi oi-circle-x"></span></a>
            {{!-- confirm delete --}}
            <!-- Modal -->
            <div class="modal fade" id="deleteCourseModel" tabindex="-1" aria-labelledby="deleteCourseModelLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteCourseModelLabel">Bạn có chắc chắn muốn xóa khóa học:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <b>{{this.name}}</b>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Đồng ý</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        {{else}}

        <tr>
          <td class="text-center" colspan="5">
            <b><em>Bạn chưa đăng khóa học nào!!!</em></b>
          </td>
        </tr>

        {{/each}}
      </tbody>
    </table>
</form>

{{!-- DELETE HIDEN FORM --}}
<form method="POST" name="deleteCourseForm"></form>


<script>
  var CourseId;
  var deleteForm = document.forms['deleteCourseForm'];
  var containerForm=document.forms['container-form'];
  var DeleteCourseModel = document.getElementById('deleteCourseModel');
  var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
  var checkboxAll = document.getElementById('checkbox-all');
  var courseItemCheckboxes = document.querySelectorAll('input[name="courseIds[]"]');
  var CheckAllSubmitBtns = document.querySelector('.CheckAllSubmitBtn');

  if (DeleteCourseModel) {
    DeleteCourseModel.addEventListener('show.bs.modal', function(event) {
      var button = event.relatedTarget;
      CourseId = button.getAttribute('data-id');
      console.log(CourseId);
    });

    confirmDeleteBtn.onclick = function() {
      // Set the form action to include the CourseId
      deleteForm.action = "/courses/" + CourseId + '?_method=DELETE';
      // Submit the form to delete the course
      deleteForm.submit();
    };
  

    //checkbox all click
    checkboxAll.onchange = function() {
      var isCheckedAll = checkboxAll.checked;
      for (var i = 0; i < courseItemCheckboxes.length; i++) {
        courseItemCheckboxes[i].checked = isCheckedAll;
        renderCheckAllSubmitBtn()
      }
    };

    //courses item checkbox changed
    for (var i = 0; i < courseItemCheckboxes.length; i++) {
      courseItemCheckboxes[i].onchange = function() {
        var isCheckedAll = courseItemCheckboxes.length === document.querySelectorAll('input[name="courseIds[]"]:checked').length;
        checkboxAll.checked = isCheckedAll;
        renderCheckAllSubmitBtn()
      };
    }

    //Re-render check all submit button
    function renderCheckAllSubmitBtn() {
    var checkedCount = document.querySelectorAll('input[name="courseIds[]"]:checked').length;
    if (checkedCount > 0) {
      CheckAllSubmitBtns.removeAttribute('disabled'); 
    } else {
      CheckAllSubmitBtns.setAttribute('disabled'); 
    }
  }
  }
</script>


