<div class="mt-4">
  <div>
    <h3>KHÓA HỌC CỦA TÔI</h3>
    <a href="/me/stored/courses">
    <button type="button" class="btn btn-dark">Danh sách khóa học</button>
    </a>
  </div>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">TÊN KHÓA HỌC</th>
          <th scope="col">CẤP ĐỘ</th>
          <th scope="col" colspan="2">NGÀY XÓA</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <th scope="row">{{sum 1 @index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a href="" class="btn btn-outline-primary btn-restore" data-id="{{this._id}}">Khôi phục</a>
            <a href="" name="delete-confirm" class="btn btn-outline-danger" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#deleteCourseModel">Xóa vĩnh viễn</a>
            {{!-- confirm delete --}}
            <!-- Modal -->
            <div class="modal fade" id="deleteCourseModel" tabindex="-1" aria-labelledby="deleteCourseModelLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteCourseModelLabel">Bạn sẽ xóa vĩnh viễn khóa học:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <b>{{this.name}}</b>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Đồng ý</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        {{else}}

        <tr>
          <td class="text-center" colspan="5">
            Thùng rác trống!! 
            <a href="/me/stored/courses/">Quay lại</a>
          </td>
        </tr>

        {{/each}}
      </tbody>
    </table>
</div>

<form method="POST" name="deleteCourseForm"></form>
<form method="POST" name="restoreCourseForm"></form>

<script>
  var idDelete;
  var deleteForm = document.forms['deleteCourseForm'];
  var restoreForm = document.forms['restoreCourseForm'];
  var DeleteCourseModel = document.getElementById('deleteCourseModel');
  var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
  var restoreBtnAll = document.querySelectorAll('.btn-restore');
  if (DeleteCourseModel) {
    DeleteCourseModel.addEventListener('show.bs.modal', event => {
      var button = event.relatedTarget;
      idDelete = button.getAttribute('data-id');
      console.log(idDelete);
    });

    confirmDeleteBtn.onclick = function () {
      // Set the form action to include the idDelete
      deleteForm.action = "/courses/" + idDelete + '/force?_method=DELETE';
      // Submit the form to delete the course
      deleteForm.submit();
    };
    restoreBtnAll.forEach((restoreBtn) => {
        restoreBtn.addEventListener('click', (e) => {
            e.preventDefault();
            
            var courseId = restoreBtn.getAttribute('data-id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
    });
  }
</script>
