<form class="mt-4" name="container-form" method="POST" action="/courses/recycle-form-actions">
  <div>
    <h3>KHÓA HỌC ĐÃ XÓA TẠM THỜI</h3>
    <a href="/me/stored/courses">
      <button type="button" class="btn btn-dark">
        <span class="oi oi-list"></span> Danh sách khóa học
      </button>
    </a>
  </div>
  <div class="mt-2 d-flex align-items-center checkbox-select">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">
        Chọn tất cả
      </label>
    </div>
    <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
      <option value="">--Chọn hành động--</option>
      <option value="forceDelete">Xóa vĩnh viễn</option>
      <option value="forceRestore">Khôi phục</option>
    </select>
    <button class="btn btn-primary btn-sm CheckAllSubmitBtn " disabled>Thực hiện</button>
  </div>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col" colspan="2"></th>
          <th scope="col">TÊN KHÓA HỌC</th>
          <th scope="col">CẤP ĐỘ</th>
          <th scope="col" colspan="2">NGÀY XÓA</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input checkbox-one" type="checkbox" name="courseIds[]" value="{{this._id}}">
            </div>
          </td>
          <th scope="row">{{sum 1 @index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a href="" class="btn btn-outline-primary btn-restore" data-id="{{this._id}}"><span class="oi oi-reload"></span></a>
            <a href="" name="delete-confirm" class="btn btn-outline-danger" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#deleteCourseModel"><span class="oi oi-circle-x"></span></a>
            {{!-- confirm delete --}}
            <!-- Modal -->
            <div class="modal fade" id="deleteCourseModel" tabindex="-1" aria-labelledby="deleteCourseModelLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteCourseModelLabel">Bạn sẽ xóa vĩnh viễn khóa học:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <b>{{this.name}}</b>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Đồng ý</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        {{else}}

        <tr>
          <td class="text-center" colspan="5">
            <b><em>Thùng rác trống!!!</em></b>
          </td>
        </tr>

        {{/each}}
      </tbody>
    </table>
</form>

<form method="POST" name="deleteCourseForm"></form>
<form method="POST" name="restoreCourseForm"></form>

<script>
  var idDelete;
  var deleteForm = document.forms['deleteCourseForm'];
  var restoreForm = document.forms['restoreCourseForm'];
  var DeleteCourseModel = document.getElementById('deleteCourseModel');
  var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
  var restoreBtnAll = document.querySelectorAll('.btn-restore');
  var checkboxAll = document.getElementById('checkbox-all');
  var courseItemCheckboxes = document.querySelectorAll('input[name="courseIds[]"]');
  var CheckAllSubmitBtns = document.querySelector('.CheckAllSubmitBtn');

  if (DeleteCourseModel) {
    DeleteCourseModel.addEventListener('show.bs.modal', event => {
      var button = event.relatedTarget;
      idDelete = button.getAttribute('data-id');
      console.log(idDelete);
    });

    confirmDeleteBtn.onclick = function () {
      // Set the form action to include the idDelete
      deleteForm.action = "/courses/" + idDelete + '/force?_method=DELETE';
      // Submit the form to delete the course
      deleteForm.submit();
    };
    restoreBtnAll.forEach((restoreBtn) => {
        restoreBtn.addEventListener('click', (e) => {
            e.preventDefault();
            
            var courseId = restoreBtn.getAttribute('data-id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
    });
    //checkbox all click
    checkboxAll.onchange = function() {
      var isCheckedAll = checkboxAll.checked;
      for (var i = 0; i < courseItemCheckboxes.length; i++) {
        courseItemCheckboxes[i].checked = isCheckedAll;
        renderCheckAllSubmitBtn()
      }
    };

    //courses item checkbox changed
    for (var i = 0; i < courseItemCheckboxes.length; i++) {
      courseItemCheckboxes[i].onchange = function() {
        var isCheckedAll = courseItemCheckboxes.length === document.querySelectorAll('input[name="courseIds[]"]:checked').length;
        checkboxAll.checked = isCheckedAll;
        renderCheckAllSubmitBtn()
      };
    }

    //Re-render check all submit button
    function renderCheckAllSubmitBtn() {
      var checkedCount = document.querySelectorAll('input[name="courseIds[]"]:checked').length;
      if (checkedCount > 0) {
      CheckAllSubmitBtns.removeAttribute('disabled'); 
      } else {
      CheckAllSubmitBtns.setAttribute('disabled'); 
      }
    }
  }
</script>
